

table {
  width: 100%;
  border-radius: 5px;
}



.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-elevation-z8 {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

td,
th {
  width: 25%;
  border: 1px solid #f3f3f3;
  text-align: center;
}

th {
  background-color: #006594 !important;
  color: white;
  text-align: center !important;
}

.mat-sort-header-arrow .mat-sort-header-indicator .mat-sort-header-pointer-left .mat-sort-header-pointer-right .mat-sort-header-pointer-middle {
  color: white !important;
  opacity: 1;

}

.mat-sort-header-arrow .ng-trigger .ng-trigger-arrowPosition .ng-tns-c244-4 .ng-star-inserted {
  color: white !important;
  opacity: 1;

}

