<div class="container">
  <div class="row">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-add" data-bs-toggle="modal" data-bs-target="#modal-vehiculo">
      Agregar Vehiculo
    </button>

    <!-- Modal -->
    <div class="modal fade mt-5" id="modal-vehiculo" tabindex="-1" aria-labelledby="modal-vehiculoLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-vehiculoLabel">Agregar vehiculo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="vehiculoForm" (ngSubmit)="addVehiculo()">
              <div class="container-fluid">


                <div class="row">
                  <div class="col-3">
                    <div class="mb-3" style="text-align: justify;">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>ID</mat-label>
                        <input matInput [readonly]="true">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="mb-3" style="text-align: justify;">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput id="nombre" name="nombre" formControlName="nombre">
                      </mat-form-field>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-6">
                    <div class="mb-3" style="text-align: justify;">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Marca</mat-label>
                        <input matInput id="marca" name="marca" formControlName="marca">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mb-3" style="text-align: justify;">
                      <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Modelo</mat-label>
                        <input matInput id="modelo" name="modelo" formControlName="modelo">
                      </mat-form-field>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="vehiculoForm.invalid"
                  data-bs-dismiss="modal">Agregar vehiculo</button>
              </div>

            </form>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>